:root {
   --primary: hsl(322, 100%, 66%);
   --neutral1: hsl(193, 100%, 96%);
   --neutral2: hsl(192, 100%, 9%);
   --neutral3: hsl(208, 11%, 55%);
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.8rem;
   font-family: 'Open Sans', sans-serif;
}

img {
   width: 100%;
}

h1,h2,h3 {
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
}

a {
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
}

/* utility */
.container {
   width: 130rem;
   margin: 0 auto;
}

/* container media querie */
@media (max-width: 1440px) {
   .container {
      width: 90%;
   } 
}  

@media (max-width: 500px) {
   .container {
      width: 35rem;
   } 
}  
/* ================ */
/* Desktop First */
.header {
   width: 100%;
   background-image: url('./images/bg-hero-desktop.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-color: var(--neutral1);
}

.header__nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 15rem;
}

.header__logo {
   width: 18rem;
}

.header__link {
   padding: 1.5rem 7rem;
   font-size: 1.3rem;
   background-color: white;
   color: var(--neutral2);
   text-decoration: none;
   border-radius: 3rem;
   box-shadow: 0 5px 12px rgba(153, 153, 153, 0.400);
}

.header__link:active {
   opacity: 0.5;
}

/* hero section */
.hero {
   display: flex;
   gap: 5rem;
}

.hero > div:first-child {
   width: 40%;
   margin-top: 10rem;
   line-height: 1.5;
}

.hero > div:last-child {
   width: 60%;
   margin-bottom: 7rem;
}

/* hero-info block */
.hero-info__title {
   max-width: 20ch;
   margin-bottom: 5rem;
   font-size: 3.8rem;
}

.hero-info__description {
   width: 50ch;
   margin-bottom: 4rem;
}

.hero-info__link {
   padding: 1.8rem 6rem;
   font-size: 1.3rem;
   text-decoration: none;
   background-color: var(--primary);
   color: white;
   border-radius: 3rem;
}

.hero-info__link:active {
   opacity: 0.8;
}

/* media queries header */
@media (max-width: 1024px) {
   .header__logo {
      width: 13rem;
   }
   .header__link {
      padding: 1rem 3rem;
   }
   .hero {
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   .hero > div:first-child {
      width: auto;
      margin-top: 0;
   }
   
   .hero > div:last-child {
      width: auto;
   }
   
   .hero-info__title {
      min-width: 15ch;
      margin: 0 auto 3rem auto;
      font-size: 2.8rem;
      text-align: center;
   }

   .hero-info__description {
      width: 33ch;
   }
   .hero-info__link {
      padding: 1.5rem 7rem;
   }
}




/* ==================== */
/* main section */
.main {
   position: relative;
   margin-top: 16rem;
   margin-bottom: 34rem;
}

/* cards */
.main__card {
   display: flex;
   height: 44rem;
   margin-top: 4rem;
   border-radius: 3rem;
   box-shadow: 0 5px 12px rgba(153, 153, 153, 0.400);
}

.main__card > div:first-child {
   width: 60%;
}

.main__card > div:last-child {
   width: 40%;
}

.main__info {
   margin-top: 15rem;
   padding-left: 12rem;
}

.main__title {
   margin-bottom: 1rem;
   color: var(--neutral2);
}

.main__card p {
   max-width: 49ch;
   line-height: 1.5;
   color: var(--neutral3);
}

.main__img-container {
   padding: 3rem; 
}



/* ---------------- */
/* switched card */
.main__card--switched {
   gap: 12rem;
}

.main__card--switched > div:first-child{
   order: 2;
}

.main__card--switched > div:last-child{
   order: 1;
   margin-left: 11rem;
}

.main__card--img-switched {
   padding: 6rem 1rem;
}


/* div absolute */
.main__btn-big {
   position: absolute;
   bottom: -45rem;
   left: calc(50% - 40rem);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 80rem;
   height: 28rem;
   background-color: white;
   color: var(--neutral2);
   border-radius: 2rem;
   box-shadow: 0 -3px 12px rgba(153, 153, 153, 0.400);
}

.main__btn-big h2 {
   font-size: 3.2rem;
}

.main__btn-big a {
   width: 40rem;
   text-align: center;
   background-color: var(--primary);
   color: white;
   margin-top: 3rem;
   padding: 2.8rem 0;
   text-decoration: none;
   border-radius: 5rem;
}

.main__btn-big a:active {
   opacity: 0.8;
}

/* media queries Main */
@media (max-width: 1024px) {
   .main {
      margin-top: 0;
      margin-bottom: 25rem;
   }
   .main__card {
      flex-direction: column;
      align-items: center;
   }
   .main__card > div:first-child {
      width: auto;
      margin: 0;
      order: 1;
      padding-left: 0;
      text-align: center;
   }
   .main__card > div:last-child {
      width: 25rem;
   }

   .main__card p {
      font-size: 1.6rem;
      width: 32ch;
   }
   /* card swtiched */
   .main__card--switched {
      gap: 0;
   }
   
   .main__card--switched > div:first-child{
      order: 2;
   }
   
   .main__card--switched > div:last-child{
      order: 1;
      margin-left: 0;
      padding: 3rem;
   }

   .main__btn-big {
      justify-content: center;
      align-items: center;
      width: 36rem;
      height: 20rem;
      left: calc(50% - 18rem);
      bottom: -35rem;
   }

   .main__btn-big h2 {
      font-size: 1.8rem;
   }
   .main__btn-big a {
      width: 25rem;
      padding: 1.5rem;
      font-size: 1.6rem;
   }
}



/* ---------------- */
/* Footer */
.footer {
   width: 100%;
   padding: 19rem 0 6rem 0;
   background-color: var(--neutral2);
   color: var(--neutral1);
}

.footer__logo {
   width: 24rem; 
}

/* footer data */
.footer-data {
   display: flex;
   margin-top: 1rem;
}

.footer-data section:nth-child(1) {
   width: 31%;

}
.footer-data section:nth-child(2) {
   width: 50%;

}
.footer-data section:nth-child(3) {
   width: 20%;
}

.footer-data__list {
   list-style: none;
}

.footer-data__list li {
   margin-top: 3rem;
}

/* contact section */
.icons-contact {
   display: inline-block;
   width: 2rem;
   height: 2rem;
   margin-right: 1rem;
}

.icon--location {
   background-image: url('./images/icon-location.svg');
   background-repeat: no-repeat;
   background-position: center;
}

.icon--phone {
   background-image: url('./images/icon-phone.svg');
   background-repeat: no-repeat;
   background-position: center;
}

.icon--email {
   background-image: url('./images/icon-email.svg');
   background-repeat: no-repeat;
   background-position: center;
}

/* info section */
.footer-data__info-list {
   display: flex;
   justify-content: center;
   gap: 12rem;
}

.footer-data__info-list li {
   margin-top: 1rem;
}

.footer-data__info-list a {
   text-decoration: none;
   font-weight: 400;
   color: white;
}

.footer-data__info-list a:active {
   text-decoration: underline;

}


/* icons section */
.footer-data__social--icon-list {
   display: flex;
   justify-content: center;
}
.footer-data__social--icon-list a {
   margin-right: 1rem;
   text-decoration: none;
   font-weight: 400;
   color: white;
}

.footer-data__social--icon-list a:active {
   color: var(--primary);
}

.circle {
   border: 1px solid white;
   border-radius: 50%;
   padding: 1rem 1.5rem;
}

.circle:active {
   border: 1px solid var(--primary);
}

.copyright {
   display: flex;
   justify-content: flex-end;
   font-size: 1.3rem;
}


/* media queries Footer */
 @media (max-width: 1024px) {
   .footer__logo {
      width: 18rem;
   }

   .footer-data {
      flex-direction: column;
   }
   .footer-data section:nth-child(1) {
      width: auto;
   
   }
   .footer-data section:nth-child(2) {
      width: auto;
      margin-top: 5rem;
   }
   .footer-data section:nth-child(3) {
      width: auto;
      margin-top: 3rem;
   }

   .footer-data__info-list {
      display: block;
   }

   .copyright {
      justify-content: center;
      margin-top: 3rem;
   }
}